@import '../../styles/vars.styl'

.form
    padding: 20px
    &__row
        margin-bottom: 10px
        text-align: center
    &__error-msg
        color: $danger-color
        padding: 5px
    &__input
        max-width: 400px
        margin: auto        
        input
            width: 100%
            height: $input-height
            padding: 10px
            border: 1px solid $main-color
        &--error
            input
                border: 1px solid $danger-color
    
